/* ============================== MENU LATERAL ============================== */

body{
    display: none;
}

.aside-4{
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    opacity: 0.9;
}

#title_aside_despesas{
    color: #121212;
}

/* ============================ FIM DO MENU LATERAL ============================ */

/* ================================ CONTEÚDO ================================ */

/* ===== LINHA DOS MESES ===== */

.alert{
    position: absolute;
    position: fixed;
    text-align: center;
    font-size: 0.90rem;
    width: 50%;
    animation: pulse 2s infinite;
    opacity: 0.98;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert:hover{
    cursor: pointer;
}

.linha_data
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.meses{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mes_opc{
    margin: 0;
    padding: 0;
    border: 1px solid #00CCFF;
    background: transparent;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-left: none;
}

.mes_opc_jan{
    border-left: 1px solid #00CCFF;
}

.mes_opc:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;
}

/* ===== LINHA DOS BOTÕES ===== */

.row_botoes{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoes{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.botoes_opcoes{
    display: flex;
    float: left;
    height: 100%;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.select_opc{
    display: flex;
    float: right;
    height: 100%;
    padding: 10px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.botoes_opc, .select_opc{
    border: 1px solid #00CCFF;
    border-radius: 5px;
    background: transparent;
    color: #FFFFFF;
    text-align: center;
}

option{
    color: #121212;
}

.botoes_opc{
    padding: 10px 5px;
    text-decoration: none;
    margin-right: 10px;
}

.botoes_opc:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;
}

/* === FIM DA LINHA DOS BOTÕES === */

/* ===== TABELA ===== */
.row_tabela_all{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tabela_all{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.tabela{
    width: 100%;
    margin: 0;
    padding: 0;
}

.thead, .tbody{
    width: 100%;
    margin: 0;
    padding: 0;
}

.tr{
    border-bottom: 1px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th, .td{
    margin: 0;
    padding: 0;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.th{
    font-size: 1.35rem;
    text-align: left;
}

.td{
    font-size: 0.90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.td:hover{
    cursor: pointer;
}

.tbody{
    border-top: 1px solid #00CCFF;
}

.btn_excluir{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00CCFF;
    color: #FFFFFF;
    padding: 8px 15px;
}

.btn_excluir:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;    
    animation: pulse 1s infinite;
}


/* === FIM DA TABELA === */

/* ========= PÁGINAS ========= */

.page_row{
    margin: 30px 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;    
}

.pages{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.ul{
    display: flex;
    justify-content: center;
    justify-items: center;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #00CCFF;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

li a:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;
}

/* ===== FIM DAS PÁGINAS ===== */

/* ========= NOVA DESPESA ========= */

.container_novo, .container_edit{
    display: none;
    position: absolute;
    background-color: #121212;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 25px #121212;
    opacity: 0.96;
}

.container_novo_linha, .container_edit_linha{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container_novo_primeira_linha, .container_edit_primeira_linha{
    padding: 15px;
}

.container_novo_segunda_linha, .container_novo_quarta_linha, .container_edit_segunda_linha, .container_edit_quarta_linha{
    margin-bottom: 25px;
}

.container_novo_sexta_linha, .container_edit_sexta_linha{
    margin-bottom: 30px;
}

.col_novo_botao_fechar, .col_edit_botao_fechar{
    margin: 0;
    padding: 0;
}

.novo_botao_fechar, .edit_botao_fechar{
    color: #FFFFFF;
    float: right;
    text-align: right;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.col_novo_titulo, .col_novo_form, .col_edit_titulo, .col_edit_form{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novo_titulo, .edit_titulo{
    font-size: 1.75rem;
    color: #FFFFFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #00CCFF;
}

.form{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.col_novo_form, .col_edit_form{
    margin: 0;
    padding: 0;
}

.col_novo_input, .col_novo_label, .col_novo_botao, .col_edit_input, .col_edit_label, .col_edit_botao{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.col_novo_label, .col_edit_label{
    color: #FFFFFF;
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.novo_input, .edit_input{
    border: 1px solid #00CCFF;
    background: transparent;
    padding: 8px 8px;
    color: #FFFFFF;
}

.novo_botao, .edit_botao{
    border: 1px solid #00CCFF;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
}

.novo_botao:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    transition: 1s;
    color: #121212;
}

.edit_botao:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    transition: 1s;
    color: #121212;
}

#label_agendamento, #label_data, #label_forma{
    color: grey;
}
#input_agendamento, #input_data, #input_forma{
    border: 1px solid grey;
    color: grey;
}

#edit_label_agendamento, #edit_label_data, #edit_label_forma{
    color: grey;
}
#edit_input_agendamento, #edit_input_data, #edit_input_forma{
    border: 1px solid grey;
    color: grey;
}

/* ===== FIM DO NOVA DESPESA ===== */



/* ============================= FIM DO CONTEÚDO ============================= */