/* ============================== MENU LATERAL ============================== */

.aside-3{
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    opacity: 0.9;
}

.sup_entradas{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
}

#title_aside_estatisticas{
    color: #121212;
}

/* ============================ FIM DO MENU LATERAL ============================ */