
.titulo2{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.menu_box{
    background-color: #c3aa72;
    opacity: 1;
    box-shadow: 0 0 30px #121212;
    background-color: #121212;
    margin: 0;
    padding: 0;
    height: 55%;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background: url('../img/bck6.jpg') no-repeat;
    background-size: cover;
}

.hr{
    background: #00CCFF;
    display: flex;
    justify-content: center;
    opacity: 0.6;
}

.conteudo{
    height: 100%;
    float: left;
    max-width: 100%;
    padding: 30px;
    margin: 0;
}

.opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.opc{
    margin-right: 15px;
    padding-bottom: 2px;
}

.opc_login{
    border-bottom: 2px solid #00CCFF;
}

.informativa{
    background: url('../img/peopleworking.jpg') no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 0;
}

.background_informativa{
    background: rgba(33, 33, 33,0.6);
    width: 100%;
    height: 100%;
}

.info_info{
    padding: 25px;
}

.informativa_background{
    background: black;
}

.informativa_row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.informativa_titulo{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informativa_subtitulo{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informativa_texto{
    font-size: 0.85rem;
    text-align: justify;
    letter-spacing: 0.15px;
    margin-bottom: 15px;
    background: rgba(33, 33, 33,0.3);
    border: 1px solid #00ccff;
    padding: 20px 15px;
}
.hr_informativa{
    background: #00CCFF;
    margin-bottom: 15px;
    opacity: 1;
}

.linha_col_1{
    border: 1px solid #00CCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.img{
    width: 50%;
}

.sub_titulo{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 10px;
}

.aviso{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    animation: pulse 2s infinite;
}
.aviso:hover{
    cursor: pointer;
}

.campo_login_div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.input{
    border: 1px solid grey;
    padding: 5px 0px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #00CCFF;
}

.botao{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.botao_botao{
    background: transparent;
    border: 1px solid #00CCFF;
    padding: 10px 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.botao_botao:hover{
    cursor: pointer;
    background: #00CCFF;
    border: 1px solid transparent;
    color: #121212;
    transition: 1s;
    animation: pulse 2s infinite;
}

.cadastrar{
    color: #FFFFFF;
}

@keyframes pulse{

    0%{
        transform: scale(0.96);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.96);
    }

}