/* ============================== MENU LATERAL ============================== */

.aside-6{
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    opacity: 0.9;
}

#title_aside_rentabilidade{
    color: #121212;
}

/* ============================ FIM DO MENU LATERAL ============================ */

/*================================================================================
==================================================================================
==================================================================================
================================================================================*/

/* ============================== INFORMATIVOS ============================== */

.informativos, .linha_blocos, .informativos_all, .informativos_linha, .show, .block, .block_interno, .block_row, .block_clicavel{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.informativos_primeira_linha{
    margin-bottom: 30px;
}

.block, .block_clicavel, .informativos_linha, .linha_blocos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    margin: 0 20px;
}

.block_interno{
    border: 1px solid #00CCFF;
    padding: 60px 0px;
    text-decoration: none;
    width: 100%;   
    border-radius: 10px;
    box-shadow: 0 0 15px #121212;
}

.block_interno:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;
}

.block_clicavel{
    font-size: 1.15rem;
    margin-bottom: 5px;
}

.first_block_clicavel{
    font-size: 2rem;
}


.hr{
    color: grey;
}

.show{
    width: 100%;
    
}

.all_column{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.linha_blocos{
    width: 100%;
}

.block{
    padding-bottom: 20px;
}

/* ========================== FIM DOS INFORMATIVOS ========================== */

/*================================================================================
==================================================================================
==================================================================================
================================================================================*/

/* ===================== CONTAINER DO SALÁRIO & DIVIDENDOS & EXTRA ===================== */

.conteudo_container_salario, .conteudo_container_dividendo, .conteudo_container_extra, .conteudo_container_outro{
    display: none;
    opacity: 0.96;
    background: #121212;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 25px #121212;
    opacity: 0.95;
}

.block_interno_salario, .block_interno_dividendo, .block_interno_extra, .block_interno_outro{
    color: #FFFFFF;
}

.salario_voltar, .dividendo_voltar, .extra_voltar, .outro_voltar{
    color: #FFFFFF;
    float: right;
    text-align: right;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 12px;
    margin-top: 5px;
}

.salario_voltar:hover, .dividendo_voltar:hover, .extra_voltar:hover, .outro_voltar:hover{
    color: grey;
    transition: 1s;
}


/* =================FIM DO CONTAINER DO SALÁRIO & DIVIDENDOS ================== */

/*================================================================================
==================================================================================
==================================================================================
================================================================================*/

/* ================ CONTAINER DO NOVO & EDIT SALÁRIO & DIVIDENDO ================ */

.conteudo_container_novo_salario, .conteudo_container_edit_salario, .conteudo_container_novo_dividendo, .conteudo_container_edit_dividendo, .conteudo_container_novo_extra, .conteudo_container_edit_extra, .conteudo_container_novo_outro, .conteudo_container_edit_outro{
    display: none;
    opacity: 0.96;
    background: #121212;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 25px #121212;
    opacity: 0.95;
}

.novo_salario_linha, .edit_salario_linha, .novo_dividendo_linha, .edit_dividendo_linha, .novo_extra_linha, .edit_extra_linha, .novo_outro_linha, .edit_outro_linha{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.novo_salario_label, .edit_salario_label, .novo_dividendo_label, .edit_dividendo_label, .novo_extra_label, .edit_extra_label, .novo_outro_label, .edit_outro_label{
    color: #FFFFFF;
    font-size: 1.15rem;
    margin-bottom: 10px;    
}

.novo_salario_input, .edit_salario_input, .novo_dividendo_input, .edit_dividendo_input, .novo_extra_input, .edit_extra_input, .novo_outro_input, .edit_outro_input{
    border: 1px solid #00CCFF;
    background: transparent;
    padding: 8px 8px;
    color: #FFFFFF;
}

option{
    color: #FFFFFF;
    background: #212121;
}

.novo_salario, .edit_salario, .novo_dividendo, .edit_dividendo, .novo_extra, .edit_extra{
    margin-bottom: 15px;
}
.novo_salario_frequencia, .edit_salario_frequencia, .novo_dividendo_frequencia, .edit_dividendo_frequencia, .novo_extra_frequencia, .edit_extra_frequencia, .novo_outro_frequencia, .edit_outro_frequencia{
    margin-bottom: 0;
}

.col_novo_botao, .col_edit_botao{
    margin-bottom: 10px;
}

.novo_botao, .edit_botao{
    border: 1px solid #00CCFF;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 5px;
}

.novo_botao:hover, .edit_botao:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    transition: 1s;
    color: #121212;
}


/* ============= FIM DO CONTAINER DO NOVO & EDIT SALÁRIO & DIVIDENDO ============ */

/*================================================================================
==================================================================================
==================================================================================
================================================================================*/

