/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto Condensed', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    height: 100vh;
    font-size: 1rem;
    background-image: linear-gradient(to right,#00ccff, #b452ff);
}
/* ========================================================= */

/* ESTRUTURA */
.main-row{
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.side_menu{
    background-color: #c3aa72;
    opacity: 1;
    box-shadow: 0 0 20px #121212;
    background-image: linear-gradient(to right, #f4f0e5, #dedad1);
    float: left;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin: 0;
    padding: 0;
}
/* ================================ */

/* MENU LATERAL */
.side_menu_row{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #383231, #1f1c1c);
}

.aside{
    margin: 0;
    padding: 0;
    border-bottom: 1px #383735 solid;
    float: left;
    height: 14.28%;
    background-image: linear-gradient(to right, #383231, #1f1c1c);
}

.aside:hover{
    background-image: linear-gradient(to right, #b452ff, #4e6fd4);
}

.sidebar_menu_img{
    width: 55%;
    height: 65%;
}
.sidebar_menu_img:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
}

button{
    width: 100%;
    height: 80%;
    border: none;
    background-color: transparent;
    padding: 5px;
}

.aside_title{
    color: #FFFFFF;
    font-size: 0.85rem;
    height: 20%;
    width: 100%;
}

/* MENU SUPERIOR */

.menu_superior{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #383231, #1f1c1c);
    padding: 5px 0;
    box-shadow: 0 0 15px #121212;
}

.menu_superior_item{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.menu_open{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.menu_open:hover{
    cursor: pointer;
    animation: pulse 1s infinite;
}
.menu_open_img{
    width: 50%;
    height: 80%;
}

img:hover{
    animation: pulse 1s infinite;
}

/* Menu superior - Search bar */

.searchbar{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.menu_superior_form{
    width: 100%;
    height: 100%;
    margin: 0;
    display:flex;
    align-items:center;
    float: left;
}

.menu_superior_input{
    margin: 0;
    padding: 0;
    height: 50%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}

.lupa_btn{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: transparent;
    height: 50%;
    border: none;
    padding-right: 10px;
}

.lupa_img{
    width: 50%;
    height: 80%;
}

/* Menu superior - Botões */

.bt3{
    display: flex;
    align-items: center;
    justify-content: left;
}

.bt2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout_btn, .perfil_btn{
    width: 90%;
    height: 75%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
}
.logout_btn:hover, .perfil_btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #4e6fd4, #b452ff);
    color: #121212;
    transition: 0.75s;
    border: none;
}

/* Conteúdo principal */

.titulo_path_container{
    max-height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0 10px 0;
}

.titulo_path_row{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.conteudo_titulo, .conteudo_path{
    font-size: 2rem;
    color: #FFFFFF;
}
.conteudo_titulo{
    font-weight: 400;
}

.conteudo_path{
    font-size: 1rem;
    text-align: right;
    float: left;
    padding-top: 15px;
}



.conteudo_container{
    max-height: 100%;
    width: 90%;
    background-image: linear-gradient(to right, #383231, #1f1c1c);
    margin: 0 auto;
    box-shadow: 0 0 15px #121212;
}

@keyframes pulse{

    0%{
        transform: scale(0.95);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.95);
    }

}