.aside-1{
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    opacity: 0.9;
}

#title_aside_principal{
    color: #121212;
}

/* Conteúdo principal */


/* Título + PATH do container */
.titulo_path_container{
    width: 100%;
    margin: 0 auto;
    padding: 19px 0;
}

.titulo_path_row{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.conteudo_intro, .conteudo_path{
    font-size: 2rem;
    color: #121212;
    display: none;
}
.conteudo_intro{
    font-weight: 400;
}

.conteudo_path{
    font-size: 1rem;
    text-align: right;
    float: left;
    padding-top: 15px;
}

/* Corpo do container */
.conteudo_container{
    width: 100%;
    background-color: #121212;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 25px #121212;
    opacity: 0.95;
}

.conteudo_titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.conteudo_titulo_text{
    width: 50%;
    font-size: 2rem;
    color: #FFFFFF;
    border-bottom: 1px solid #00ccff;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.conteudo_linha{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.clicavel{
    text-decoration: none;
}

.conteudo_item_total{
    border: 1px solid #00ccff;
    padding: 50px 0px;
    padding-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    margin-bottom: 30px;
}

.conteudo_item_total: hover{
    background: #00CCFF;
}

.conteudo_item{
    font-size: 2.25rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #FFFFFF;
}

.subconteudo_item{
    padding-bottom: 50px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #FFFFFF;
}

.maisinfo_item{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 15px 0px;
    margin: 0;
    border-top: 1px solid #00ccff;
}

.maisinfo_item_clicavel{
    text-decoration: none;
    color: #FFFFFF;
}

@keyframes pulse{

    0%{
        transform: scale(0.95);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.95);
    }

}