/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to right,#00ccff, #b452ff);
}
/* ========================================================= */

/* ESTRUTURA */
.main-row{
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.side_menu{
    background-color: #c3aa72;
    opacity: 0.9;
    box-shadow: 0 0 20px #121212;
    background-color: #f4f0e5;
    float: left;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    max-height: 100%;
    max-width: 100%;
    float: right;
    margin: 0;
    padding: 0;
}
/* ================================ */

/* MENU LATERAL */
.side_menu_row{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.aside{
    margin: 0;
    padding: 0;
    max-height: 20%;
    float: left;
}
.aside-1{
    background-color: blue;
}

.aside-2{
    background-color: yellow;
}

.aside-3{
    background-color: black;
}

.aside-4{
    background-color: pink;
}

.aside-5{
    background-color: purple;
}

/* MENU SUPERIOR */
.menu_superior{
    max-width: 100%;
    background-color: red;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    box-shadow: 0 0 20px #121212;
}

.searchbar{
    max-width: 100%;
    background-color: green;
    margin: 0;
    padding: 0;
}

.bt1{
    background-color: blue;
}

.bt2{
    background-color: yellow;
}

.bt3{
    background-color: black;
}

.bt4{
    background-color: pink;
}