/* ===== TABELA ===== */
.row_tabela_all{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.tabela_all{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.tabela{
    width: 100%;
    margin: 0;
    padding: 0;
}

.thead, .tbody{
    width: 100%;
    margin: 0;
    padding: 0;
}

.tr{
    border-bottom: 1px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid transparent;
    margin: 5px 0;
}

.th, .td{
    margin: 0;
    padding: 0;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.th{
    font-size: 1.35rem;
    text-align: left;
}

.td{
    font-size: 0.90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.td:hover{
    cursor: pointer;
}

.td_data, .th_data{
    justify-content: left;
    padding-left: 10px;
}

.td_value, .th_valor{
    justify-content: left;
}

.tbody{
    border-top: 1px solid #00CCFF;
}

.btn_excluir{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00CCFF;
    color: #FFFFFF;
    padding: 8px 15px;
}

.btn_excluir:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #00ccff, #28cffa);
    color: #121212;
    transition: 1s;    
    animation: pulse 1s infinite;
}


/* === FIM DA TABELA === */