<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="iFinance, o sistema web de finanças pessoais. No iFinance você realiza de forma segura uma gestão completamente profissional de suas finanças pessoais.">
		<meta name="keywords" content="Finança, Finanças, Financa, Finanças, Valor, Valores, Dinheiro, Gestão, Gestão de finança, Gestão de finanças, Gestão de finanças pessoais, Gestão de finança pessoal, Dinheiro, dinheiro, Capital, Investimento, Investimentos, Gestor de investimento, Gestor de finança, Gestor de finanças, Gestor de finanças pessoais, Finança pessoal, Finanças pessoais, Despesa, Despesas, Ativo, Ativos, Passivo, Passivos, Patrimonio, Patimonios, Patrimônio, Patrimônios, Gestor de patrimônio, Gestor de patrimonio, Gestão de patrimônio, Gestão de patrimonio, Financeiro, Contabilidade, Contábil, Contabil, Gestor Contabil, Gestão Contabil, Gestão de contabilidade, Cnotabilidade pessoal, Gestão de contabilidade Pessoal">
 		<meta name="author" content="Gabriel Lagrota">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">

		<link rel="icon" th:href="@{img/bag.png}" type="image/gif" sizes="32x32">
		<link th:href="@{css/reset.css}" rel="stylesheet" />
		<link th:href="@{css/style.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{js/script.js}" defer></script>
		<script src="jquery-3.6.0.min.js"></script>
		

		<title>iFinance | Home</title>

	</head>

	<body id="body">

			<!-- Linha principal do site, que contém o menu lateral e o conteúdo principal -->
			<div class="row main-row">

				<!-- Menu lateral do site, que contém as opções de navegação pela single page -->
				<div class="container side_menu col-lg-1" id="side_menu">	

					<div class="row side_menu_row" id="side_menu_row">

						<div class="aside aside-1 col-lg-12" id="div_aside_principal" onmouseover="animateMenu('principal')" onmouseleave="returnMenuState('principal')">

							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/houseblue.png}" class="sidebar_menu_img" id="img_aside_principal"/>
								</button>	
							
								<h1 class="aside_title text-center" id="title_aside_principal">Principal</h1>
							</a>

						</div>

						<div class="aside aside-2 col-lg-12" id="div_aside_balanco" onmouseover="animateMenu('balanco')" onmouseleave="returnMenuState('balanco')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/balanceblue.png}" class="sidebar_menu_img" id="img_aside_balanco"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_balanco">Balanço</h1>
							</a>
							

						</div>

						<div class="aside aside-3 col-lg-12" id="div_aside_estatisticas" onmouseover="animateMenu('estatisticas')" onmouseleave="returnMenuState('estatisticas')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/statsblue.png}" class="sidebar_menu_img" id="img_aside_estatisticas"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_estatisticas">Estatísticas</h1>
							</a>
							

						</div>

						<div class="aside aside-4 col-lg-12" id="div_aside_despesas" onmouseover="animateMenu('despesas')" onmouseleave="returnMenuState('despesas')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/despesablue.png}" class="sidebar_menu_img" id="img_aside_despesas"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_despesas">Despesas</h1>
							</a>
							

						</div>

						<div class="aside aside-5 col-lg-12" id="div_aside_patrimonio" onmouseover="animateMenu('patrimonio')" onmouseleave="returnMenuState('patrimonio')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/shelterblue.png}" class="sidebar_menu_img" id="img_aside_patrimonio"/>
								</button>		
								<h1 class="aside_title text-center" id="title_aside_patrimonio">Patrimônio</h1>						
							</a>
							

						</div>

						<div class="aside aside-6 col-lg-12" id="div_aside_rentabilidade" onmouseover="animateMenu('rentabilidade')" onmouseleave="returnMenuState('rentabilidade')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/bullblue.png}" class="sidebar_menu_img" id="img_aside_rentabilidade"/>
								</button>			
								<h1 class="aside_title text-center" id="title_aside_rentabilidade">Rentabilidade</h1>					
							</a>

						</div>																
						<div class="aside aside-7 col-lg-12" id="div_aside_configuracoes" onmouseover="animateMenu('configuracoes')" onmouseleave="returnMenuState('configuracoes')">

							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/settingsblue.png}" class="sidebar_menu_img" id="img_aside_configuracoes"/>
								</button>	
								<h1 class="aside_title text-center" id="title_aside_configuracoes">Configurações</h1>							
							</a>							

						</div>
					</div>
				</div>

<!-- HEADER -->
				<!-- Conteúdo principal do site, que fica ao lado do menu lateral -->
				<main class="container main col-lg-11" id="main">
					<!-- Header do site, que contém as informações básicas da sessão -->
					<header class="row menu_superior col-lg-12" id="menu_superior">
					
						<!-- Barra de pesquisas do header -->
						<div class="col-lg-6 menu_superior_item searchbar">
							
							<form class="row menu_superior_form">

								<input class="menu_superior_input col-lg-11" placeholder="Pesquise aqui por ativos, entrada de valores, despesas, balanços e outros...">
								<button class="lupa_btn col-lg-1">

									<img class="lupa_img" th:src="@{img/search.png}"/>

								</button>
							</form>	

						</div>	

						<div class="col-lg-2 menu_superior_item">

						</div>	

						<!-- Botão para acessar perfil do usuário -->
						<div class="col-lg-2 menu_superior_item bt2">
							
							<button class="perfil_btn col-lg-1">

								Perfil

							</button>

						</div>

						<!-- Botão para realizar logout -->
						<div class="col-lg-2 menu_superior_item bt3">

							<form class="logout_form" th:action="@{/logout}" method="POST">

								<button class="logout_btn col-lg-1" type="submit">

									Logout

								</button>	
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

							</form>
							
						</div>

					</header>
<!-- FIM DO HEADER -->

<!-- CONTEÚDO PRINCIPAL -->
					
					<div class="menu_superior_responsivo row" id="menu_superior_responsivo">

						<div class="sup sup_01 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Home</a>
						</div>	

						<div class="sup sup_02 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Balanço</a>
						</div>

						<div class="sup sup_03 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Status</a>
						</div>	

						<div class="sup sup_04 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Dinheiro</a>
						</div>

						<div class="sup sup_05 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Bens</a>
						</div>		

						<div class="sup sup_06 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Perfil</a>
						</div>													

					</div>	

					<!-- Título da aba + Path da page -->
					<div class="container titulo_path_container" id="titulo_path_container">

					</div>

					<div class="container conteudo_container" id="conteudo_container">

						<div class="col-lg-12 conteudo_titulo" id="conteudo_titulo">
							<h1 class="col-lg-12 text-center conteudo_titulo_text" id="conteudo_titulo_text">
								Resumo de Gabriel
							</h1>
						</div>

						<div class="informativos" id="informativos">
							<div class="row conteudo_linha conteudo_primeira_linha">

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_rendamensal" id="conteudo_item_total_rendamensal" onmouseover="animateContent(1)" onmouseleave="returnContentState(1)">
									<a href="#" class="clicavel rendamensal_clicavel" id="rendamensal_clicavel">

										<div class="row conteudo_item conteudo_item_rendamensal" id="conteudo_item_rendamensal">
											R$ 0.00
										</div>

										<div class="row subconteudo_item subconteudo_item_rendamensal" id="subconteudo_item_rendamensal">
											Renda mensal
										</div>	

										<div class="row maisinfo_item maisinfo_item_rendamensal" id="maisinfo_item_rendamensal">
											<a href="#" class="maisinfo_item_clicavel maisinfo_item_rendamensal_clicavel" id="maisinfo_item_rendamensal_clicavel">
												Mais informações
											</a>
										</div>	

									</a>

								</div>	

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_despesas" id="conteudo_item_total_despesas" onmouseover="animateContent(2)" onmouseleave="returnContentState(2)">
									<a href="#" class="clicavel despesas_clicavel" id="despesas_clicavel">
										<div class="row conteudo_item conteudo_item_despesas" id="conteudo_item_despesas">
											R$ 0.00
										</div>

										<div class="row subconteudo_item subconteudo_item_despesas" id="subconteudo_item_despesas">
											Despesas
										</div>	

										<div class="row maisinfo_item maisinfo_item_despesas" id="maisinfo_item_despesas">

											<a href="#" class="maisinfo_item_clicavel maisinfo_item_despesas_clicavel" id="maisinfo_item_despesas_clicavel">
												Mais informações
											</a>

										</div>	
									</a>
								</div>	

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_contasapagar" id="conteudo_item_total_contasapagar" onmouseover="animateContent(3)" onmouseleave="returnContentState(3)">
									<a href="#" class="clicavel contasapagar_clicavel" id="contasapagar_clicavel">
										<div class="row conteudo_item conteudo_item_contasapagar" id="conteudo_item_contasapagar">
											R$ 0.00
										</div>

										<div class="row subconteudo_item subconteudo_item_contasapagar" id="subconteudo_item_contasapagar">
											Contas a pagar
										</div>	

										<div class="row maisinfo_item maisinfo_item_contasapagar" id="maisinfo_item_contasapagar">
											<a href="#" class="maisinfo_item_clicavel maisinfo_item_contasapagar_clicavel" id="maisinfo_item_contasapagar_clicavel">
												Mais informações
											</a>
										</div>	
									</a>
								</div>								

							</div>	

							<div class="row conteudo_linha conteudo_segunda_linha">

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_recebido" id="conteudo_item_total_recebido" onmouseover="animateContent(4)" onmouseleave="returnContentState(4)">
									<a href="#" class="clicavel recebido_clicavel" id="recebido_clicavel">
										<div class="row conteudo_item conteudo_item_recebido" id="conteudo_item_recebido">
											R$ 0.00
										</div>

										<div class="row subconteudo_item subconteudo_item_recebido" id="subconteudo_item_recebido">
											Recebido
										</div>	

										<div class="row maisinfo_item maisinfo_item_recebido" id="maisinfo_item_recebido">
											<a href="#" class="maisinfo_item_clicavel maisinfo_item_recebido_clicavel" id="maisinfo_item_recebido_clicavel">
												Mais informações
											</a>
										</div>	
									</a>
								</div>	

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_receber" id="conteudo_item_total_receber" onmouseover="animateContent(5)" onmouseleave="returnContentState(5)">
									<a href="#" class="clicavel receber_clicavel" id="receber_clicavel">
										<div class="row conteudo_item conteudo_item_receber" id="conteudo_item_receber">
											R$ 0.00
										</div>

										<div class="row subconteudo_item subconteudo_item_receber" id="subconteudo_item_receber">
											A receber
										</div>	

										<div class="row maisinfo_item maisinfo_item_receber" id="maisinfo_item_receber">
											<a href="#" class="maisinfo_item_clicavel maisinfo_item_receber_clicavel" id="maisinfo_item_receber_clicavel">
												Mais informações
											</a>
										</div>	
									</a>
								</div>	

								<div class="col-lg-3 col-md-3 col-sm-7 col-6 conteudo_item_total conteudo_item_total_contasatrasadas" id="conteudo_item_total_contasatrasadas" onmouseover="animateContent(6)" onmouseleave="returnContentState(6)">
									<a href="#" class="clicavel contasatrasadas_clicavel" id="contasatrasadas_clicavel">
										<div class="row conteudo_item conteudo_item_contasatrasadas" id="conteudo_item_contasatrasadas">
											0
										</div>

										<div class="row subconteudo_item subconteudo_item_contasatrasadas" id="subconteudo_item_contasatrasadas">
											Contas atrasadas
										</div>	

										<div class="row maisinfo_item maisinfo_item_contasatrasadas" id="maisinfo_item_contasatrasadas">
											<a href="#" class="maisinfo_item_clicavel maisinfo_item_contasatrasadas_clicavel" id="maisinfo_item_contasatrasadas_clicavel">
												Mais informações
											</a>
										</div>	
									</a>
								</div>								

							</div>
						</div>
				</main>	
			</div>
	</body>
</html>