<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" src="index.html">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="iFinance, o sistema web de finanças pessoais. No iFinance você realiza de forma segura uma gestão completamente profissional de suas finanças pessoais.">
		<meta name="keywords" content="Finança, Finanças, Financa, Finanças, Valor, Valores, Dinheiro, Gestão, Gestão de finança, Gestão de finanças, Gestão de finanças pessoais, Gestão de finança pessoal, Dinheiro, dinheiro, Capital, Investimento, Investimentos, Gestor de investimento, Gestor de finança, Gestor de finanças, Gestor de finanças pessoais, Finança pessoal, Finanças pessoais, Despesa, Despesas, Ativo, Ativos, Passivo, Passivos, Patrimonio, Patimonios, Patrimônio, Patrimônios, Gestor de patrimônio, Gestor de patrimonio, Gestão de patrimônio, Gestão de patrimonio, Financeiro, Contabilidade, Contábil, Contabil, Gestor Contabil, Gestão Contabil, Gestão de contabilidade, Cnotabilidade pessoal, Gestão de contabilidade Pessoal">
 		<meta name="author" content="Gabriel Lagrota">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">

		<link rel="icon" th:href="@{img/logo.png}" type="image/gif" sizes="32x32">
		<link th:href="@{css/reset.css}" rel="stylesheet" />
		<link th:href="@{css/layout.css}" rel="stylesheet"/>
		<link th:href="@{css/patrimonio.css}" rel="stylesheet" />
		<script
		  src="https://code.jquery.com/jquery-3.6.0.js"
		  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		  crossorigin="anonymous"></script>
		<script type="text/javascript" th:src="@{js/patrimonio.js}" defer></script>



		<title>Patrimonio | iFinance</title>

	</head>

	<body id="body">

			<!--------------- TUDO --------------->
			<div class="row main-row" id="main_row">

				<!--------------- SIDE BAR PRINCIPAL DO SITE --------------->
				<div class="container side_menu col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1" id="side_menu">	

					<div class="row side_menu_row" id="side_menu_row">

						<div class="aside aside-1 col-lg-12" id="div_aside_principal" onmouseover="animateMenu('principal')" onmouseleave="returnMenuState('principal')">

							<a th:href="@{/}" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/houseblue.png}" class="sidebar_menu_img" id="img_aside_principal"/>
								</button>	
							
								<h1 class="aside_title aside_title_principal text-center" id="title_aside_principal">
									Principal
								</h1>
							</a>

						</div>

						<div class="aside aside-2 col-lg-12" id="div_aside_balanco" onmouseover="animateMenu('balanco')" onmouseleave="returnMenuState('balanco')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/balanceblue.png}" class="sidebar_menu_img" id="img_aside_balanco"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_balanco">
									Balanço
								</h1>
							</a>
							

						</div>

						<div class="aside aside-3 col-lg-12" id="div_aside_estatisticas" onmouseover="animateMenu('estatisticas')" onmouseleave="returnMenuState('estatisticas')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/statsblue.png}" class="sidebar_menu_img" id="img_aside_estatisticas"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_estatisticas">Estatísticas</h1>
							</a>
							

						</div>

						<div class="aside aside-4 col-lg-12" id="div_aside_despesas" onmouseover="animateMenu('despesas')" onmouseleave="returnMenuState('despesas')">
							
							<a th:href="@{/despesas}" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/despesablue.png}" class="sidebar_menu_img" id="img_aside_despesas"/>
								</button>
								<h1 class="aside_title text-center" id="title_aside_despesas">Despesas</h1>
							</a>
							

						</div>

						<div class="aside aside-5 col-lg-12" id="div_aside_patrimonio">
							
							<a th:href="@{/patrimonio}" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/shelter.png}" class="sidebar_menu_img" id="img_aside_patrimonio"/>
								</button>		
								<h1 class="aside_title text-center" id="title_aside_patrimonio">Patrimônio</h1>						
							</a>

						</div>

						<div class="aside aside-6 col-lg-12" id="div_aside_rentabilidade" onmouseover="animateMenu('rentabilidade')" onmouseleave="returnMenuState('rentabilidade')">
							
							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/bullblue.png}" class="sidebar_menu_img" id="img_aside_rentabilidade"/>
								</button>			
								<h1 class="aside_title text-center" id="title_aside_rentabilidade">Rentabilidade</h1>					
							</a>

						</div>																
						<div class="aside aside-7 col-lg-12" id="div_aside_configuracoes" onmouseover="animateMenu('configuracoes')" onmouseleave="returnMenuState('configuracoes')">

							<a href="#" class="row aside_clicavel">
								<button type="button" class="img_button">
									<img th:src="@{img/settingsblue.png}" class="sidebar_menu_img" id="img_aside_configuracoes"/>
								</button>	
								<h1 class="aside_title text-center" id="title_aside_configuracoes">Configurações</h1>							
							</a>							

						</div>
					</div>
				</div>
				<!---------------  SIDE BAR PRINCIPAL DO SITE --------------->

				<!-- Conteúdo principal do site, que fica ao lado do menu lateral -->
				<main class="container main col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12" id="main">
					<!--------------- MENU SUPERIOR DO SITE --------------->
					<header class="row menu_superior col-lg-12" id="menu_superior">
					
						<!-- Barra de pesquisas do header -->
						<div class="col-lg-6 menu_superior_item searchbar">
							
							<form class="row menu_superior_form">

								<input class="menu_superior_input col-lg-10" placeholder="Pesquise aqui por ativos, entrada de valores, despesas, balanços e outros...">

								<button class="lupa_btn col-lg-1">

									<img class="lupa_img" th:src="@{img/search.png}"/>

								</button>

							</form>	

							</div>	

							<!-- Botão de avisos -->
							<div class="col-lg-2 menu_superior_item bt bt1">
								
								<button class="top_btn warn_btn col-lg-11">

									Avisos (0)

								</button>

							</div>							

							<!-- Botão para acessar perfil do usuário -->
							<div class="col-lg-2 menu_superior_item bt bt2">
								
								<button class="top_btn perfil_btn col-lg-11">

									Perfil

								</button>

							</div>

							<!-- Botão para realizar logout -->
							<div class="col-lg-2 menu_superior_item bt bt3">

								<form class="col-lg-12 logout_form" th:action="@{/logout}" method="POST">

									<button class="top_btn logout_btn col-lg-11" type="submit">

										Logout

									</button>	

									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

								</form>
								
							</div>
					</header>
					<!--------------- MENU SUPERIOR DO SITE --------------->

					<!----------- MENU SUPERIOR RESPONSIVO DO SITE ------------>
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 menu_superior_responsivo row" id="menu_superior_responsivo">

						<div class="sup sup_01 col-md-2 col-sm-2 col-2">
							<a th:href="@{/}" class="sup_sup sup_sup_01">Home</a>
						</div>	

						<div class="sup sup_02 col-md-2 col-sm-2 col-2">
							<a th:href="@{/despesas}" class="sup_sup sup_sup_01">Despesas</a>
						</div>

						<div class="sup sup_03 col-md-2 col-sm-2 col-2">
							<a th:href="@{/patrimonio}" class="sup_sup sup_sup_01">Bens</a>
						</div>	

						<div class="sup sup_04 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Dinheiro</a>
						</div>

						<div class="sup sup_05 col-md-2 col-sm-2 col-2">
							<a href="#" class="sup_sup sup_sup_01">Balanço</a>
						</div>		

						<form class="sup sup_06 col-md-2 col-sm-2 col-2" th:action="@{/logout}" method="POST">
							<button type="submit" class="sup_sup sup_sup_01">Logout</button>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>	

					</div>	
					<!----------- MENU SUPERIOR RESPONSIVO DO SITE ------------>

					<!-- CONTAINER_ALIGN -->
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container_align" id="container_align">

						<!-------------- CONTEUDO_CONTAINER ------------>
						<div class="container conteudo_container" id="conteudo_container">

							<!-------------- CONTEUDO_CONTAINER - TÍTULO ------------>
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 conteudo_titulo" id="conteudo_titulo">

								<h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center conteudo_titulo_text" id="conteudo_titulo_text">
									Seu patrimônio
								</h1>
							</div>
							<!-------------- CONTEUDO_CONTAINER - TÍTULO ------------>

							<!-------------- CONTEUDO_CONTAINER - INFORMATIVOS ------------>
							<div class="informativos">

									<!-------------- INFORMATIVOS - INFORMATIVOS ------------>
									<div class="row informativos_linha informativos_primeira_linha">

										<!----------- SETINHA DA ESQUERDA ------------>
										<div class="arrow arrow-left caret-left col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
											<a href="#" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 arrow_clicavel arrow_clicavel_left">
												<img th:src="@{img/left.png}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 arrow_clicavel_image arrow_clicavel_left_image" onclick="setaEsquerda()"/>
											</a>	
										</div>
										<!----------- SETINHA DA ESQUERDA ------------>
											
										<!----------- CATEGORIAS DOS INFORMATIVOS ------------>
										<div class="informativos_all col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">

											<div class="row show first_show " id="first_show">

												<div class="all_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block first_block">

														<a th:href="@{__${baseUrl}__/patrimonio(type=imoveis, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

															<div class="row block_row block_first_row">

																<div th:text="'R$ ' + ${assetsSum.get(1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																	R$ 0.00
																</div>

															</div>

															<div class="row block_row block_second_row">
																
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																	Imóveis
																</div>

															</div>	
														</a>

													</div>	

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block second_block">

														<a th:href="@{__${baseUrl}__/patrimonio(type=veiculos, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

															<div class="row block_row block_first_row">

																<div th:text="'R$ ' + ${assetsSum.get(0)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																	R$ 0.00
																</div>

															</div>

															<div class="row block_row block_second_row">
																
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																	Veículos
																</div>

															</div>	

														</a>
													</div>	

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block third_block">

														<a th:href="@{__${baseUrl}__/patrimonio(type=banco, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

															<div class="row block_row block_first_row">

																<div th:text="'R$ ' + ${assetsSum.get(2)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																	R$ 0.00
																</div>

															</div>

															<div class="row block_row block_second_row">
																
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																	Banco
																</div>

															</div>	

														</a>
													</div>	

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block fourth_block">

														<a th:href="@{__${baseUrl}__/patrimonio(type=investimentos, page=1)}" class="ccol-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

															<div class="row block_row block_first_row">

																<div th:text="'R$ ' + ${assetsSum.get(3)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																	R$ 0.00
																</div>

															</div>

															<div class="row block_row block_second_row">
																
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																	Investimentos
																</div>

															</div>	

														</a>
													</div>

													<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block fifth_block">

														<a th:href="@{__${baseUrl}__/patrimonio(type=eletronicos, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

															<div class="row block_row block_first_row">

																<div th:text="'R$ ' + ${assetsSum.get(4)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																	R$ 0.00
																</div>

															</div>

															<div class="row block_row block_second_row">
																
																<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																	Eletrônicos
																</div>

															</div>	

														</a>
													</div>
												</div>
											</div>

											<div class="row show second_show" id="second_show">

												<div class="all_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block first_block">

													<a th:href="@{__${baseUrl}__/patrimonio(type=intangiveis, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

														<div class="row block_row block_first_row">

															<div th:text="'R$ ' + ${assetsSum.get(5)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																R$ 0.00
															</div>

														</div>

														<div class="row block_row block_second_row">
															
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																Intangível
															</div>

														</div>	

													</a>
												</div>	

												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block second_block">

													<a th:href="@{__${baseUrl}__/patrimonio(type=joias, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

														<div class="row block_row block_first_row">

															<div th:text="'R$ ' + ${assetsSum.get(6)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																R$ 0.00
															</div>

														</div>

														<div class="row block_row block_second_row">
															
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																Jóias
															</div>

														</div>	

													</a>
												</div>	

												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block third_block">

													<a th:href="@{__${baseUrl}__/patrimonio(type=liquidez, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

														<div class="row block_row block_first_row">

															<div th:text="'R$ ' + ${assetsSum.get(7)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																R$ 0.00
															</div>

														</div>

														<div class="row block_row block_second_row">
															
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																Baixa liquidez
															</div>

														</div>	

													</a>
												</div>	

												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block fourth_block">

													<a th:href="@{__${baseUrl}__/patrimonio(type=outros, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

														<div class="row block_row block_first_row">

															<div th:text="'R$ ' + ${assetsSum.get(8)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																R$ 0.00
															</div>

														</div>

														<div class="row block_row block_second_row">
															
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																Outros
															</div>

														</div>	

													</a>
												</div>													

												<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 block fifth_block">

													<a th:href="@{__${baseUrl}__/patrimonio(type=all, page=1)}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_interno">

														<div class="row block_row block_first_row">

															<div th:text="'R$ ' + ${assetsAllSum}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel first_block_clicavel">
																R$ 0.00
															</div>

														</div>

														<div class="row block_row block_second_row">
															
															<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 block_clicavel second_block_clicavel">
																Todos
															</div>

														</div>	

													</a>
												</div>
												</div>
											</div>												
										</div>
										<!----------- CATEGORIAS DOS INFORMATIVOS ------------>

										<!----------- SETINHA DA DIREITA ------------>
										<div class="arrow arrow-right col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
											<a href="#" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 arrow_clicavel arrow_clicavel_right">
												<img th:src="@{img/right.png}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 arrow_clicavel_image arrow_clicavel_right_image" onclick="setaDireita()"/>
											</a>	
										</div>	
										<!----------- SETINHA DA DIREITA ------------>							
									</div>

									<hr class="hr"/>

									<!-------------- INFORMATIVOS - TABELA ------------>	
									<div class="row row_tabela_all">
									
										<div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 col-12 tabela_all" id="tabela_all">

											<table class="tabela col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="tabela">

												<thead class="thead col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="thead">

													<tr class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="thead_row">

														<th class="th th_data col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">Data</th>	
														<th class="th th_descricao col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">Descrição</th>
														<th class="th th_valor col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">Valor</th>
														<th class="th th_categoria col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">Categoria</th>
		
														<th class="th th_excluir col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">

															<button class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-5 botao_novo" onclick="novoPatrimonio()">
																+
															</button>												

														</th>																					
													</tr>	

												</thead>

												<tbody class="tbody col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

													<tr 
													th:if="${#lists.isEmpty(assets)}"
													class="tr col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

														<td class="td td_data col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">...</td>	
														<td class="td td_descricao col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">...</td>
														<td class="td td_valor col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">...</td>
														<td class="td td_categoria col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">...</td>
														<td class="td td_excluir col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
															<form>
																<button type="submit" class="col-lg-12 btn_excluir">
																	Excluir
																</button>
															</form>
														</td>											
													</tr>															

													<tr 
													th:if="${not #lists.isEmpty(assets)}" 
													th:each="patrimony: ${assets}" 
													class="tr col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

														<td 
														th:text="${patrimony.date}" 
														class="td td_data col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" th:data-id="${patrimony.id}" 
														th:data-date="${patrimony.date}" 
														th:data-description="${patrimony.description}" 
														th:data-patrimonyType="${patrimony.patrimonyType.desc}" 
														th:data-value="${patrimony.value}"  
														onclick="editPatrimonio(this.getAttribute('data-id'), 
																				this.getAttribute('data-date'), 
																				this.getAttribute('data-description'), 
																				this.getAttribute('data-patrimonyType'), 
																				this.getAttribute('data-value'))"></td>	

														<td 
														th:text="${patrimony.description}" 
														class="td td_descricao col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" th:data-id="${patrimony.id}" 
														th:data-date="${patrimony.date}" 
														th:data-description="${patrimony.description}" 
														th:data-patrimonyType="${patrimony.patrimonyType.desc}" 
														th:data-value="${patrimony.value}"  
														onclick="editPatrimonio(this.getAttribute('data-id'), 
																				this.getAttribute('data-date'), 
																				this.getAttribute('data-description'), 
																				this.getAttribute('data-patrimonyType'), 
																				this.getAttribute('data-value'))"></td>

														<td 
														th:text="'R$ ' + ${patrimony.value}" 
														class="td td_valor col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" 
														th:data-id="${patrimony.id}" 
														th:data-date="${patrimony.date}" 
														th:data-description="${patrimony.description}" 
														th:data-patrimonyType="${patrimony.patrimonyType.desc}" 
														th:data-value="${patrimony.value}"  
														onclick="editPatrimonio(this.getAttribute('data-id'), 
																				this.getAttribute('data-date'), 
																				this.getAttribute('data-description'), 
																				this.getAttribute('data-patrimonyType'), 
																				this.getAttribute('data-value'))"></td>

														<td 
														th:text="${patrimony.patrimonyType.desc}" 
														class="td td_categoria col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" th:data-id="${patrimony.id}" 
														th:data-date="${patrimony.date}" 
														th:data-description="${patrimony.description}" 
														th:data-patrimonyType="${patrimony.patrimonyType.desc}" 
														th:data-value="${patrimony.value}"  
														onclick="editPatrimonio(this.getAttribute('data-id'), 
																				this.getAttribute('data-date'), 
																				this.getAttribute('data-description'), 
																				this.getAttribute('data-patrimonyType'), 
																				this.getAttribute('data-value'))"></td>

														<td class="td td_excluir col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">					
															<form method="POST" th:action="@{patrimonio/delete-{id}(id = ${patrimony.id})}">
																<button type="submit" class="col-lg-12 btn_excluir">
																	Excluir
																</button>
															</form>
														</td>											
													</tr>						

												</tbody>	
												
											</table>

										</div><!-- TABELA_ALL (COLUNA) -->	
									</div>
									<!-------------- INFORMATIVOS - TABELA ------------>				

									<!-------------- ÚLTIMA LINHA DA TELA ------------>					
									<div class="row page_row">

										<!------------------ PÁGINAS ---------------->	
										<div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 pages">

											<ul class="ul col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

												<li class="li li_anterior">
													<a href="#" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 li_a li_a_anterior">
														Anterior
													</a>
												</li>

												<li class="li">
													<a href="#" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 li_a">
														1
													</a>
												</li>

												<li class="li li_proximo">
													<a href="#" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 li_a li_a_proximo">
														Próximo
													</a>
												</li>

											</ul>	

										</div>
										<!------------------ PÁGINAS ---------------->	

									</div>
									<!-------------- ÚLTIMA LINHA DA TELA ------------>	

							</div>	
							<!-------------- CONTEUDO_CONTAINER - INFORMATIVOS ------------>
						</div>
						<!<!----------- CONTEUDO_CONTAINER ------------>

						<!--------------- INSERIR NOVO PATRIMONIO ---------------->
						<div class="col-xl-8 col-lg-8 col-md-10 col-sm-11 col-12 container_novo" id="container_novo">

								<div class="row container_novo_linha container_novo_primeira_linha">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_novo_botao_fechar">
										<button type="button" class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 novo_botao_fechar" onclick="fechaNovoPatrimonio()">
											X
										</button>
									</div>	

								</div>

								<div class="row container_novo_linha container_novo_segunda_linha">

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_novo_titulo">
										<h1 class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center novo_titulo" id="novo_titulo">
											Inserir patrimônio
										</h1>
									</div>	

								</div>		

								<form class="form" method="POST" th:action="@{patrimonio}" th:object="${patrimony}">

									<div class="row container_novo_linha container_novo_terceira_linha">

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_novo_form">

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_label">
													Descrição:
												</label>	
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_label">
													Tipo:
												</label>	
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_label">
													Valor:
												</label>	
											</div>											

										</div>	

									</div>

									<div class="row container_novo_linha container_novo_quarta_linha">

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_novo_form">

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_input">
												<input 
												type="text" 
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_input" 
												id="input_descricao" 
												name="description" 
												maxlength="40" />
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_input">
												<select class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_input" id="select_tipo" name="patrimonyType"/>
													<option value="0"></option>
													<option value="IMOVEL">Imóvel</option>
													<option value="VEICULO">Veículo</option>
													<option value="CONTA">Conta bancária</option>
													<option value="INVESTIMENTO">Investimento</option>
													<option value="ELETRONICO">Eletrônico</option>
													<option value="INTANGIVEL">Intangível</option>
													<option value="JOIA">Jóia</option>
													<option value="LIQUIDEZ">Baixa liquidez</option>
													<option value="OUTRO">Outro</option>
												</select>
											</div>	

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_novo_input">
												<input 
												type="number" 
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_input" 
												id="input_valor" 
												name="value" 
												step="0.01" 
												min="0"
												max="10000000"/>
											</div>											

										</div>	

									</div>		

									<div class="row container_novo_linha container_novo_setima_linha">		

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_novo_form">

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_novo_botao">
												<button type="button" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_botao" onclick="fechaNovoPatrimonio()">
													Voltar
												</button>
											</div>	

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_novo_botao">
												<button type="submit" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_botao">
													Salvar
												</button>
											</div>		

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_novo_botao">
												<button type="reset" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 novo_botao">
													Limpar
												</button>
											</div>														
										</div>

									</div>		

								</form>
						</div>
						<!----------- INSERIR NOVO PATRIMONIO-------------->

						<!------------------- EDITAR PATRIMONIO -------------------->
						<div class="col-xl-8 col-lg-8 col-md-10 col-sm-11 col-12 container_edit" id="container_edit">

								<div class="row container_edit_linha container_edit_primeira_linha">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_botao_fechar">
										<button type="button" class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 edit_botao_fechar" onclick="fechaEditPatrimonio()">
											X
										</button>
									</div>	

								</div>

								<div class="row container_edit_linha container_edit_segunda_linha">

									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_titulo">
										<h1 class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center edit_titulo" id="edit_titulo">
											Editar patrimônio
										</h1>
									</div>	

								</div>		

								<form class="form" method="POST" th:action="@{patrimonio/edit}" th:object="${patrimony}">

									<input class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_id" id="col_edit_id" name="id" style="display: none">	

									<input class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_date" id="col_edit_date" name="date" style="display: none">	

									<div class="row container_edit_linha container_edit_terceira_linha">

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_form">

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_label">
													Descrição:
												</label>	
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_label">
													Tipo:
												</label>	
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_label">
												<label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_label">
													Valor:
												</label>	
											</div>											

										</div>	

									</div>

									<div class="row container_edit_linha container_edit_quarta_linha">

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_form">

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_input">
												<input 
												type="text" 
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_input" 
												id="edit_input_descricao" 
												name="description" 
												maxlength="40"/>
											</div>

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_input">
												<select 
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_input" id="edit_select_tipo" name="patrimonyType"/>
													<option value="0"></option>
													<option value="IMOVEL" id="edit_imovel">Imóvel</option>
													<option value="VEICULO" id="edit_veiculo">Veículo</option>
													<option value="CONTA" id="edit_conta">Conta bancária</option>
													<option value="INVESTIMENTO" id="edit_investimento">Investimento</option>
													<option value="ELETRONICO" id="edit_eletronico">Eletrônico</option>
													<option value="INTANGIVEL" id="edit_intangivel">Intangível</option>
													<option value="JOIA" id="edit_joia">Jóia</option>
													<option value="LIQUIDEZ" id="edit_liquidez">Baixa liquidez</option>
													<option value="OUTRO" id="edit_outro">Outro</option>
												</select>
											</div>	

											<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 col_edit_input">
												<input 
												type="number" 
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_input" 
												id="edit_input_valor" 
												name="value" 
												step="0.01" 
												min="0" 
												max="10000000"/>
											</div>											

										</div>	

									</div>		

									<div class="row container_edit_linha container_edit_setima_linha">		

										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col_edit_form">

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_edit_botao">
												<button type="button" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_botao" onclick="fechaEditPatrimonio()">
													Voltar
												</button>
											</div>	

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_edit_botao">
												<button type="submit" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_botao">
													Salvar
												</button>
											</div>		

											<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 col_edit_botao">
												<button type="reset" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 edit_botao">
													Limpar
												</button>
											</div>														
										</div>

									</div>		

								</form>
						</div>													
						<!-------------- EDITAR PATRIMONIO------------------>	

					</div><!-- CONTAINER_ALIGN -->

				</main>	<!-- CONTEÚDO PRINCIPAL DO SITE ( AO LADO DA SIDEBAR )-->
			</div> <!-- TUDO -->

			<div class="main_loader" id="main_loader">
				<div class="loader"></div>
			</div>

	</body>

</html>