<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link th:href="@{css/reset.css}" rel="stylesheet" />
		<link th:href="@{css/signup.css}" rel="stylesheet" />
		<link rel="icon" th:href="@{img/bag.png}" type="image/gif" sizes="32x32">

		<title>Ifinance | Cadastro</title>

	</head>

	<body id = "body">

		<div class="all" id="all">

			<div class="menu_box col-md-9 col-12 col-sm-11 col-lg-9 col-xs-8" id="menu_box">	

				<form th:action="signup" th:object="${user}" method="POST" class="formulario_cadastro container" id="formulario_cadastro">

					<div class="alert alert-info" id="mensagem" onclick="hideMessage()"hidden>Olá mundo</div>

					<div class="alert alert-danger" th:if="${ErroCadastro}"  id="erro" onclick="hideMessage()">
						<p th:text="${ErroCadastro}"></p>
					</div>

					<h1 class="titulo titulo_informacoes_pessoais">INFORMAÇÕES PESSOAIS</h1>

					<!-- PRIMEIRA LINHA -->
					<div class="formulario_linha formulario_primeira_linha row">

						<div class="formulario_coluna formulario_coluna_nome col-lg-3 col-md-3 col-sm-4 col-6">

							<label class="label label_nome" onclick="showMessage('Neste campo é necessário preencher o seu nome. Este campo é de preenchimento obrigatório.')" for="name">Nome:</label>
							<input type="text" class="input input_nome" name="name" id="name" maxlength="15" th:value="${user.name}">

						</div>

						<div class="formulario_coluna formulario_coluna_sobrenome col-lg-5 col-md-5 col-sm-4 col-6">

							<label class="label label_sobrenome" onclick="showMessage('Neste campo é necessário preencher o seu sobrenome. Este campo é de preenchimento obrigatório.')" for="lastName">Sobrenome:</label>
							<input type="text" class="input input_sobrenome" name="lastName" id="lastName" maxlength="35" th:value="${user.lastName}">

						</div>

						<div class="formulario_coluna formulario_coluna_email col-lg-4 col-md-4 col-sm-4">

							<label class="label label_emailnome" onclick="showMessage('Neste campo é necessário preencher o seu E-mail. Este campo é de preenchimento obrigatório.')" for="email">E-mail:</label>
							<input type="email" class="input input_email" name="email" id="email" maxlength="45" th:value="${user.email}">

						</div>

					</div>

					<!-- SEGUNDA LINHA -->
					<div class="formulario_linha formulario_segunda_linha row">

						<div class="formulario_coluna formulario_coluna_nascimento col-lg-3 col-md-6 col-sm-6 col-6">

							<label class="label label_nascimento" onclick="showMessage('Neste campo é necessário preencher a sua data de nascimento. Este campo é de preenchimento obrigatório.')" for="birthDate">Data de nascimento:</label>
							<input type="date" class="input input_nascimento" name="birthDate" id="birthDate" maxlength="10" th:value="${user.birthDate}">

						</div>

						<div class="formulario_coluna formulario_coluna_nome col-lg-3 col-md-6 col-sm-6 col-6">

							<label class="label label_nome" onclick="showMessage('Neste campo é necessário preencher o seu login se usuário. Você irá utilizá-lo para acessar o iFinance. Este campo é de preenchimento obrigatório.')" for="username">Login:</label>
							<input type="text" class="input input_login" name="username" id="username" maxlength="20" th:value="${user.username}">

						</div>

						<div class="formulario_coluna formulario_coluna_senha col-lg-3 col-md-6 col-sm-6 col-6">

							<label class="label label_senha" onclick="showMessage('Neste campo é necessário preencher a senha que você irá utilizar para acessar o iFinance. Este campo é de preenchimento obrigatório.')" for="password">Senha:</label>
							<input type="password" class="input input_senha" name="password" id="password" maxlength="20" oninput="confirm()">

						</div>

						<div class="formulario_coluna formulario_coluna_repete_senha col-lg-3 col-md-6 col-sm-6 col-6">

							<label class="label label_resenha" onclick="showMessage('Neste campo é necessário repetir a mesma senha que você digitou no campo anterior. Este campo é de preenchimento obrigatório')" for="repassword">Repita a senha:</label>
							<input type="password" class="input input_repete_senha" id="repassword" maxlength="20" oninput="confirm()">

						</div>

					</div>

					<hr>

					<h1 class="titulo titulo_informacoes_pessoais">INFORMAÇÕES FINANCEIRAS</h1>

					<!-- TERCEIRA LINHA -->
					<div class="formulario_linha formulario_terceira_linha row">

						<div class="formulario_coluna formulario_coluna_trabalha col-lg-2 col-md-2 col-sm-12 col-12">

							<label class="label label_trabalha" onclick="showMessage('Aqui você deve responder se você trabalha em regime CLT ou não.')">Trabalha?</label>

							<div class="opc opc1 col-lg-6 col-sm-6 col-6">
								<input type="radio" class="radio radio_sim col-lg-3 col-md-3" name="works" id="yes" value="true" onchange="trabalha(1)" checked>
								<label class="label_radio label_radio_sim col-lg-7 col-md-7" onclick="trabalha(1)">SIM</label>
							</div>

							<div class="opc opc2 col-lg-6 col-sm-6 col-6">
								<input type="radio" class="radio radio_nao col-lg-3 col-md-3" name="works" id="no" value="false" onchange="trabalha(0)">
								<label class="label_radio label_radio_nao col-lg-7 col-md-7" onclick="trabalha(0)">NÃO</label>
							</div>

						</div>

						<div class="formulario_coluna formulario_coluna_salario col-lg-2 col-md-5 col-sm-6 col-6">

							<label class="label label_salario" onclick="showMessage('Neste campo é necessário preencher o seu salário. Este campo só é obrigatório caso você trabalhe em regime CLT.')" for="input_salario">Salário:</label>
							<input type="number" class="input input_salario" id="input_salario" name="wage" value="0.00" maxlength="10" th:value="${user.wage}">

						</div>

						<div class="formulario_coluna formulario_coluna_rendafixa col-lg-3 col-md-5 col-sm-6 col-6">

							<label class="label label_rendafixa" onclick="showMessage('Neste campo é necessário preencher o montante de capital que você possui investido em renda fixa.')" for="fixedIncome">Renda fixa:</label>
							<input type="number" class="input input_rendafixa" name="fixedIncome" id="fixedIncome" value="0.00" maxlength="10" th:value="${user.fixedIncome}">

						</div>

						<div class="formulario_coluna formulario_coluna_rendavariavel col-lg-3 col-md-6 col-sm-6 col-6">

							<label class="label label_rendavariavel" onclick="showMessage('Neste campo é necessário preencher o montante de capital que você possui investido em renda variável.')" for="variableIncome">Renda variável:</label>
							<input type="number" class="input input_rendavariavel" name="variableIncome" id="variableIncome" value="0.00" maxlength="10" th:value="${user.variableIncome}">

						</div>

						<div class="formulario_coluna formulario_coluna_rendaextra col-lg-2 col-md-6 col-sm-6 col-6">

							<label class="label label_rendaextra" onclick="showMessage('Neste campo é necessário preencher sua renda extra mensal. Digite 0 caso sua renda extra seja volátil.')" for="extraIncome">Renda extra:</label>
							<input type="number" class="input input_rendaextra" name="extraIncome" id="extraIncome" value="0.00" maxlength="10" th:value="${user.extraIncome}">

						</div>

					</div>

					<hr>

					<!-- TERCEIRA LINHA -->
					<div class="formulario_linha formulario_quarta_linha row">

						<div class="col-lg-4 col-md-4 col-sm-4 col-4 button_col">

							<a th:href="@{/login}" class="button_link">

								<button type="button" class="button button_voltar">
									Voltar
								</button>

							</a>

						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-4 button_col">
							<button type="submit" class="button button_ir" id="button_ir" disabled>Salvar</button>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-4 button_col">
							<button type="reset" class="button button_limpar">Limpar</button>
						</div>

					</div>

					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

				</form>

			</div>

		</div>

		<script type="text/javascript" th:src="@{js/signup.js}" defer></script>

	</body>
</html>